body {
	color: cornsilk;
	background: black;

	max-width: 800px;
	margin-left: auto;
	margin-right:auto;
}

h1 {
	color: yellowgreen;

	text-align: center;
}

h2 {
	color: yellowgreen;
}

a:link {
  color: skyblue;
}

/* visited link */
a:visited {
  color: plum;
}

.center {
	display: block;

	margin-left: auto;
	margin-right: auto;
}
