@font-face {
    font-family: 'Luciole-Regular';
    src: url('fonts/Luciole-Regular.woff') format('woff');
}

body {
	font-family: 'Luciole-Regular', sans-serif;

	color: cornsilk;
	background: darkslategray;

	max-width: 800px;
	margin-left: auto;
	margin-right:auto;
}

h1 {
	color: darkkhaki;

	text-align: center;
}

h2 {
	color: darkkhaki;
}

a:link {
  color: lightskyblue;
}

/* visited link */
a:visited {
  color: thistle;
}

.center {
	display: block;

	margin-left: auto;
	margin-right: auto;
}
